#navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	text-align: top;
}

#about{

}

#welcome{

}

#social_media{
	list-style-type: none;
 	text-align: center;
}

#projects{
	list-style-type: none;
}

#contact{

}

#page{
	background-color: yellow;
}
.button{
	float: left;
	color: white;
}

li.button a {
	  display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}

li.button a:hover {
    background-color: white;
		color: grey;
}

li.button a:active {
	background-color: yellow;
}

body {
	
}
