body {
	position: relative;
	background-color: gray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: gray;
	color: white;
	text-decoration: none;
}

li a:active{
	background-color: gray;
}


.nav{
	background-color: black;
}

.top_nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.bottom_nav{
	background-color: black;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#pic{
	position: relative;
	overflow: hidden;
	left: 450px;
	top: 150px;
	height: 780px;
	width: 480px;
}

#welcome{
	top: 150px;
	left: 990px;
	width: 250px;
	position: absolute;
	padding: 20px;
	border-radius: 25px;
	background-color: white;
}

#clickhere{
	position: fixed;
	height: 130px;
	width: 100px;
	bottom: 50px;
	left: 130px;
	background-color: white;
	border-radius: 25px;
	padding: 20px;
	font-family: helvetica;
	font-size: 15px;
	
}

#About{
	padding-top: 50px;
	background-color: white; 
	width: 700px;
	border-radius: 25px;
	padding: 20px; 
	text-align: center;
}

#email{
	background-color: white;
	padding: 20px;
	border-radius: 25px;
	height: 550px;
	width: 500px;
	margin: auto;
}


.downarrow{
	position: fixed;
	font-size: 150px;
	height: 150px;
	width: 150px;
	left: 40px;
	bottom: 50px;
	color:black;
}

.projects{
	background-color:white;
	height: 300px;
	width: 500px;
	margin: auto;
	border: 5px solid gray;
	border-radius: 25px;
	text-align: center;
}

a:hover{
	color: black;
	text-decoration: none;
}
