body {
  background-color: gray; 
  overflow: auto; 
}


.top_nav {
    position: fixed;
    top: 0; 
    left: 0; 
    margin: 0; 
    padding: 10px; 
    overflow: hidden;
    width: 100%; 
    background-color: black; 
    z-index: 1; 
}

.top_nav a {
    padding: 20px 20px 20px 20px; 
    color: white; 
    text-decoration: none;
    font-family: "Arial"; 
    font-size: 20px; 
}

.top_nav a:hover{
    background-color: gray; 
}

.bottom_nav {
    left: 0; 
    margin: 0; 
    padding: 10px; 
    overflow: hidden;
    width: 100%;
    bottom: 0; 
    position: fixed; 
    background-color: black; 
}
.bottom_nav a {
    padding: 20px 20px 20px 20px; 
    color: white; 
    text-decoration: none;
    font-family: "Arial"; 
    font-size: 20px; 
}

.bottom_nav a:hover{
    background-color: gray; 
}

#pic {
  padding-top: 50px; 
	position: relative;
	overflow: hidden;
	height: 453px;
	width: 307px; 
	z-index: -1; 
}

#welcome-container {
   	position: absolute; 
   	padding-left: 310px; 
   	top: 50px;
}

#welcome {
	  width: 250px; 
	  margin: auto;
  	padding: 10px; 
	  background-color: white;
  	font-family: "Arial";
  	position: absolute;
	  border-radius: .4em;
}

#welcome:after {
  	content: '';
	  position: absolute;
	  left: 0;
	  top: 50%;
	  width: 0;
	  height: 0;
	  border: 52px solid transparent;
	  border-right-color: white;
	  border-left: 0;
	  border-bottom: 0;
	  margin-top: -26px;
	  margin-left: -52px;
}

#About-container{
   	top: 45px;
    position: absolute;
    left: 590px;
    margin: auto;
    display: inline;
}

#About{
	overflow-y: auto;
	background-color: white; 
	width: 45%;
	height: 500px;
	border-radius: 25px;
	padding: 20px; 
	text-align: left;
	font-family: "Arial"; 
	font-size: 25px; 
	border: solid; 
	display: inline-block; 
}

.experience-container {
    position: absolute;
    right: 0; 
    top: 45px; 
    height: 500px; 
    width: 450px; 
    background-color: white; 
    border-radius: 25px; 
    font-family: "Arial"; 
    font-size: 18px;
    border: solid; 
    overflow: auto; 
}


#clickhere{
	position: fixed;
	height: 130px;
	width: 100px;
	bottom: 50px;
	left: 130px;
	background-color: white;
	border-radius: 25px;
	padding: 20px;
	font-family: helvetica;
	font-size: 25px;
	
}

#email{
	background-color: white;
	padding: 20px;
	border-radius: 25px;
	height: 550px;
	width: 500px;
	margin: auto;
}

.downarrow{
	position: fixed;
	font-size: 150px;
	height: 150px;
	width: 150px;
	left: 40px;
	bottom: 50px;
	color:black;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


