body {
	position: relative;
	background-color: gray;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    
	float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Arial";
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  	background-color: gray;
	color: white;
	text-decoration: none;
}

li a:active{
	background-color: gray;
}


.nav{
	background-color: black;
}

.top_nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.bottom_nav{
    background-color: black;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#Home {
    position: absolute; 
    left: 0px;
    top: 0px; 
}

#pic {
  	padding-top: 50px; 
	position: relative;
	overflow: hidden;
	height: 453px;
	width: 307px; 
	z-index: -1; 
}

#welcome-container {
   position: absolute; 
   padding-left: 310px; 
   top: 50px;
}

#welcome {
	width: 250px; 
  	margin: auto;
  	padding: 10px; 
	background-color: white;
  	font-family: "Arial";
  	position: absolute;
	border-radius: .4em;
}

#welcome:after {
  	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 52px solid transparent;
	border-right-color: white;
	border-left: 0;
	border-bottom: 0;
	margin-top: -26px;
	margin-left: -52px;
}

#clickhere {
	position: fixed;
	height: 130px;
	width: 100px;
	bottom: 50px;
	left: 130px;
	background-color: white;
	border-radius: 25px;
	padding: 20px;
	font-family: helvetica;
	font-size: 25px;
	
}

#About-container{
   padding-top: 5px;
   float: right; 
}

#About{
  	overflow-y: auto;
	background-color: white; 
	width: 350px;
  	height: 500px;
	border-radius: 25px;
	padding: 20px; 
	text-align: left;
  	font-family: "Arial"; 
}

#email{
	background-color: white;
	padding: 20px;
	border-radius: 25px;
	height: 550px;
	width: 500px;
	margin: auto;
}


.downarrow{
	position: fixed;
	font-size: 150px;
	height: 150px;
	width: 150px;
	left: 40px;
	bottom: 50px;
	color:black;
}

.description {
   font-size: 20px;
}

.projects{
	background-color:white;
	height: 300px;
	width: 500px;
	margin: auto;
	border: 5px solid gray;
	border-radius: 25px;
	text-align: center;
}

a:hover{
	color: black;
	text-decoration: none;
}
