/*
* Style tweaks
* --------------------------------------------------
*/
body {
    padding-top: 100px;
    opacity: 0.8;
    background-image: "https://media.licdn.com/dms/image/C4D03AQF9Uh03abMkSg/profile-displayphoto-shrink_200_200/0?e=1530237600&v=beta&t=WLmqP4YYyiASNZ5sM94CHkJ3xD28eKYeLxdGZWgicRU";
}
footer {
    padding: 30px 0;
}

/*
 * Custom styles
 */
.navbar-brand {
    font-size: 24px;
}


.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}